* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  /* additional code */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, 1fr) auto 1fr;
  gap: 4px 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  /* additional code */
  grid-area: 1 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* additional code */
.logo {
  justify-self: start;
}

.menu ul,
.menu li {
  font-size: 16px;
  /* additional code */
  list-style-type: none;
}

/* additional code */
.menu {
  display: grid;
}

/* additional code */
.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* additional code */
.menu ul>li {
  place-self: center;
}

.sidebar {
  background-color: #C50208;
  /* additional code */
  grid-area: 3 / 1 / 5 / 2;
  display: grid;
  row-gap: 50px;
  grid-template: repeat(4, 1fr) / 1fr;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  /* additional code */
  display: grid;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  /* additional code */
  display: grid;
  align-content: center;
}

.nav {
  background-color: #C50208;
  /* additional code */
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
}

/* additional code */
.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  /* additional code */
  list-style-type: none;
  align-self: center;
}

.article {
  background-color: #bccbde;
  /* additional code */
  grid-area: 4 / 2 / 5 / 3;
  resize: both;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  /* additional code */
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  /* additional code */
  grid-area: 5 / 1 / 6 / 3;
  align-self: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}